.container {
    display: flex;
}

.block-name {
    flex: 1;
    padding: 20px;
}

.block-description {
    flex: 2;
    background-color: #f0f0f0;
    max-width: 25%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.block-image {
    display: block;
    margin: 20px auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
    image-rendering: pixelated;
    transition: transform 0.3s;
}

.block-image:hover {
    transform: scale(1.2);
}

.block-image img {
    max-width: 100%;
    height: auto;
}