body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 20px;
    color: #444;
}

p {
    margin: 10px 0;
    color: #666;
}

.container {
    display: flex;
}

.block-name {
    flex: 1;
    padding: 20px;
}

.block-description {
    flex: 2;
    background-color: #f0f0f0;
    max-width: 25%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.block-image {
    display: block;
    margin: 20px auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
    image-rendering: pixelated;
    transition: transform 0.3s;
}

.block-image:hover {
    transform: scale(1.2);
}

.block-image img {
    max-width: 100%;
    height: auto;
}

.accordion-container {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.accordion {
    background-color: #f1f1f1;
    font-size: medium;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    text-align: left;
    outline: none;
}

.accordion-panel {
    display: none;
    padding: 10px;
}

.small-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
}


.small-list-item {
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-align: center;
}

.small-list-item:hover {
    text-decoration: none;
}

.small-list-block-title {
    width: 100%;
}

.small-list-block-image {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
    transition: transform 0.3s;
    padding: 0 5px;
}

.small-list-item:hover .small-list-block-image {
    transform: scale(1.2);
}

.small-list-block-image img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

strong {
    color: #444;
}

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    body {
        max-width: 1024px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }
}